In [2]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.event import listen

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

import sqlite3

In [3]:
conn = sqlite3.connect("db/FPA_FOD_20170508.sqlite")

exploring the data

In [38]:
fire_causes = pd.read_sql_query("SELECT STAT_CAUSE_DESCR, DISCOVERY_DATE, FIRE_YEAR FROM Fires",conn)
fire.head()

  STAT_CAUSE_DESCR  DISCOVERY_DATE  FIRE_YEAR
0    Miscellaneous       2453403.5       2005
1        Lightning       2453137.5       2004
2   Debris Burning       2453156.5       2004
3        Lightning       2453184.5       2004
4        Lightning       2453184.5       2004

In [37]:
fire.shape

(1880465, 2)

In [145]:
fire["DISCOVERY_DATE"] = pd.to_datetime(fire['DISCOVERY_DATE'])

fire["DISCOVERY_DATE"]= fire["DISCOVERY_DATE"].dt.strftime('%m-%Y')

In [146]:
fire['DISCOVERY_DATE'].value_counts()

01-1970    1880465
Name: DISCOVERY_DATE, dtype: int64

Selecting data for descriptions.

In [39]:
# FAZ
fire_data_causes = fire[["STAT_CAUSE_DESCR", "FIRE_YEAR"]]

In [40]:
wildfire_data_causes = pd.DataFrame({'COUNT':fire_data_causes.groupby(["STAT_CAUSE_DESCR","FIRE_YEAR"]).size()}).reset_index()
wildfire_data_causes.head()

  STAT_CAUSE_DESCR  FIRE_YEAR  COUNT
0            Arson       1992  11162
1            Arson       1993  10945
2            Arson       1994  10080
3            Arson       1995  12648
4            Arson       1996  10206

In [149]:
wildfire_causes = wildfire_data_causes.to_dict()

selecting data for fire size

In [23]:
#Ashley
fire_data = fire[["FIRE_YEAR", "FIRE_SIZE", "LATITUDE", "LONGITUDE"]]
fire_data.head()

   FIRE_YEAR  FIRE_SIZE   LATITUDE   LONGITUDE
0       2005       0.10  40.036944 -121.005833
1       2004       0.25  38.933056 -120.404444
2       2004       0.10  38.984167 -120.735556
3       2004       0.10  38.559167 -119.913333
4       2004       0.10  38.559167 -119.933056

In [24]:
fire_size = pd.DataFrame({'AVG':fire_data.groupby(["FIRE_YEAR","FIRE_SIZE"]).size()}).reset_index()
fire_size.head()

   FIRE_YEAR  FIRE_SIZE  AVG
0       1992       0.01  899
1       1992       0.02  134
2       1992       0.03  101
3       1992       0.04   78
4       1992       0.05  155

In [30]:
fire_size.shape

(53562, 3)

In [25]:
wildfire_data_size = fire_size.to_dict()

option 2: The average fire size for each year

In [7]:
fire_data = fire[["FIRE_YEAR", "FIRE_SIZE", "LATITUDE", "LONGITUDE"]]
#fire_data

In [16]:
mean_col = fire_data.groupby(["FIRE_YEAR", "FIRE_SIZE"])["FIRE_SIZE"].mean()

In [17]:
fire_data = fire_data.set_index(["FIRE_YEAR", "FIRE_SIZE"])

In [18]:
fire_data["AVG_Fire_Size"] = mean_col

In [19]:
fire_data = fire_data.reset_index() 
fire_data.head()

   FIRE_YEAR  FIRE_SIZE   LATITUDE   LONGITUDE  AVG_Fire_Size
0       2005       0.10  40.036944 -121.005833           0.10
1       2004       0.25  38.933056 -120.404444           0.25
2       2004       0.10  38.984167 -120.735556           0.10
3       2004       0.10  38.559167 -119.913333           0.10
4       2004       0.10  38.559167 -119.933056           0.10

In [27]:
fire_data.shape

(1880465, 4)

In [26]:
wildfire_data_size_df = fire_data.to_dict()

selecting data to create a table

In [42]:
fire_table = pd.read_sql_query("SELECT DISCOVERY_TIME, FIRE_YEAR, STAT_CAUSE_DESCR, FIRE_SIZE, LATITUDE, LONGITUDE, FIPS_NAME, STATE FROM Fires",conn)
fire_table.head()

,DISCOVERY_TIME,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,LATITUDE,LONGITUDE,FIPS_NAME,STATE
0,1300,2005,Miscellaneous,0.10,40.036944,-121.005833,Plumas,CA
1,0845,2004,Lightning,0.25,38.933056,-120.404444,Placer,CA
2,1921,2004,Debris Burning,0.10,38.984167,-120.735556,El Dorado,CA
3,1600,2004,Lightning,0.10,38.559167,-119.913333,Alpine,CA
4,1600,2004,Lightning,0.10,38.559167,-119.933056,Alpine,CA

In [43]:
fire_table = fire_table.rename(columns={"FIPS_NAME": "COUNTY"})
fire_table.head()

,DISCOVERY_TIME,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,LATITUDE,LONGITUDE,COUNTY,STATE
0,1300,2005,Miscellaneous,0.10,40.036944,-121.005833,Plumas,CA
1,0845,2004,Lightning,0.25,38.933056,-120.404444,Placer,CA
2,1921,2004,Debris Burning,0.10,38.984167,-120.735556,El Dorado,CA
3,1600,2004,Lightning,0.10,38.559167,-119.913333,Alpine,CA
4,1600,2004,Lightning,0.10,38.559167,-119.933056,Alpine,CA

In [34]:
fire_table.shape

(1880465, 8)

In [41]:
fire_table_dict = fire_table.to_dict()

In [ ]:
# Reflect the tables
Base.prepare(engine, reflect=True)

In [ ]:
fire = Base.classes.Fires

In [ ]:
session = Session(engine)