In [1]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.event import listen

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

import sqlite3

In [2]:
conn = sqlite3.connect("db/FPA_FOD_20170508.sqlite")

exploring the data

In [3]:
fire_db = pd.read_sql_query("SELECT * from Fires", conn)

In [4]:
#fire_causes = pd.read_sql_query("SELECT STAT_CAUSE_DESCR, DISCOVERY_DATE, FIRE_YEAR FROM Fires",conn)

In [7]:
fire_causes = pd.read_sql_query("SELECT STAT_CAUSE_DESCR, DISCOVERY_DATE, FIRE_YEAR FROM Fires",conn)
fire_causes.head()

  STAT_CAUSE_DESCR  DISCOVERY_DATE  FIRE_YEAR
0    Miscellaneous       2453403.5       2005
1        Lightning       2453137.5       2004
2   Debris Burning       2453156.5       2004
3        Lightning       2453184.5       2004
4        Lightning       2453184.5       2004

In [8]:
fire_causes.shape

(1880465, 3)

Selecting data for descriptions.

In [9]:
# FAZ
fire_data_causes = fire_causes[["STAT_CAUSE_DESCR", "FIRE_YEAR"]]

In [10]:
wildfire_data_causes = pd.DataFrame({'COUNT':fire_data_causes.groupby(["STAT_CAUSE_DESCR","FIRE_YEAR"]).size()}).reset_index()
wildfire_data_causes.head()

  STAT_CAUSE_DESCR  FIRE_YEAR  COUNT
0            Arson       1992  11162
1            Arson       1993  10945
2            Arson       1994  10080
3            Arson       1995  12648
4            Arson       1996  10206

In [11]:
wildfire_causes = wildfire_data_causes.to_dict()

selecting data for fire size

In [14]:
fire_size = pd.read_sql_query("SELECT FIRE_YEAR, FIRE_SIZE, LATITUDE, LONGITUDE FROM Fires",conn)
fire_size.head()

   FIRE_YEAR  FIRE_SIZE   LATITUDE   LONGITUDE
0       2005       0.10  40.036944 -121.005833
1       2004       0.25  38.933056 -120.404444
2       2004       0.10  38.984167 -120.735556
3       2004       0.10  38.559167 -119.913333
4       2004       0.10  38.559167 -119.933056

In [15]:
fire_size = pd.DataFrame({'AVG':fire_size.groupby(["FIRE_YEAR","FIRE_SIZE"]).size()}).reset_index()
fire_size.head()

   FIRE_YEAR  FIRE_SIZE  AVG
0       1992       0.01  899
1       1992       0.02  134
2       1992       0.03  101
3       1992       0.04   78
4       1992       0.05  155

In [16]:
fire_size.shape

(53562, 3)

In [17]:
wildfire_data_size = fire_size.to_dict()

option 2: The average fire size for each year

In [18]:
mean_col = fire_size.groupby(["FIRE_YEAR", "FIRE_SIZE"])["FIRE_SIZE"].mean()

In [19]:
fire_data = fire_size.set_index(["FIRE_YEAR", "FIRE_SIZE"])

In [20]:
fire_data["AVG_Fire_Size"] = mean_col

In [21]:
fire_data = fire_data.reset_index() 
fire_data.head()

   FIRE_YEAR  FIRE_SIZE  AVG  AVG_Fire_Size
0       1992       0.01  899           0.01
1       1992       0.02  134           0.02
2       1992       0.03  101           0.03
3       1992       0.04   78           0.04
4       1992       0.05  155           0.05

In [22]:
fire_data.shape

(53562, 4)

In [23]:
wildfire_data_size_df = fire_data.to_dict()

selecting data to create a table

In [25]:
fire_table = pd.read_sql_query("SELECT DISCOVERY_TIME, FIRE_YEAR, STAT_CAUSE_DESCR, FIRE_SIZE, LATITUDE, LONGITUDE, FIPS_NAME, STATE FROM Fires",conn)
fire_table.head()

,DISCOVERY_TIME,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,LATITUDE,LONGITUDE,FIPS_NAME,STATE
0,1300,2005,Miscellaneous,0.10,40.036944,-121.005833,Plumas,CA
1,0845,2004,Lightning,0.25,38.933056,-120.404444,Placer,CA
2,1921,2004,Debris Burning,0.10,38.984167,-120.735556,El Dorado,CA
3,1600,2004,Lightning,0.10,38.559167,-119.913333,Alpine,CA
4,1600,2004,Lightning,0.10,38.559167,-119.933056,Alpine,CA

In [26]:
fire_table = fire_table.rename(columns={"FIPS_NAME": "COUNTY"})
fire_table.head()

,DISCOVERY_TIME,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,LATITUDE,LONGITUDE,COUNTY,STATE
0,1300,2005,Miscellaneous,0.10,40.036944,-121.005833,Plumas,CA
1,0845,2004,Lightning,0.25,38.933056,-120.404444,Placer,CA
2,1921,2004,Debris Burning,0.10,38.984167,-120.735556,El Dorado,CA
3,1600,2004,Lightning,0.10,38.559167,-119.913333,Alpine,CA
4,1600,2004,Lightning,0.10,38.559167,-119.933056,Alpine,CA

In [27]:
fire_table.shape

(1880465, 8)

In [28]:
fire_table_dict = fire_table.to_dict()

MemoryError:

Creating a geojson file to be used to create our maps

In [29]:
import pandas as pd, requests, json

In [30]:
map_data = pd.read_sql_query("select latitude, longitude, strftime ('%m-%d-%Y',DISCOVERY_DATE) as date, FIRE_SIZE_CLASS as class, STAT_CAUSE_DESCR as cause, COUNTY as county, FIRE_SIZE as size from Fires", conn)
map_data.head()

MemoryError:

In [28]:
map_data_df = map_data.dropna(subset=['LATITUDE', 'LONGITUDE'], axis=0, inplace=False)
map_data_df.head()

    LATITUDE   LONGITUDE        date class           cause county  size
0  40.036944 -121.005833  02-02-2005     A   Miscellaneous     63  0.10
1  38.933056 -120.404444  05-12-2004     A       Lightning     61  0.25
2  38.984167 -120.735556  05-31-2004     A  Debris Burning     17  0.10
3  38.559167 -119.913333  06-28-2004     A       Lightning      3  0.10
4  38.559167 -119.933056  06-28-2004     A       Lightning      3  0.10

In [29]:
map_data_df = map_data.dropna(subset=['LATITUDE', 'LONGITUDE'], axis=0, inplace=False)

In [30]:
print('We have {} geotagged rows'.format(len(map_data_df)))
map_data_df.tail()

We have 1880465 geotagged rows

,LATITUDE,LONGITUDE,date,class,cause,county,size
1880460,40.481637,-122.389375,09-26-2015,A,Missing/Undefined,None,0.01
1880461,37.617619,-120.938570,10-05-2015,A,Miscellaneous,None,0.20
1880462,37.617619,-120.938570,05-02-2015,A,Missing/Undefined,None,0.10
1880463,37.672235,-120.898356,10-14-2015,B,Missing/Undefined,None,2.00
1880464,34.263217,-116.830950,03-14-2015,A,Miscellaneous,None,0.10

In [31]:
map_data.columns

Index(['LATITUDE', 'LONGITUDE', 'date', 'class', 'cause', 'county', 'size'], dtype='object')

In [32]:
def df_to_geojson(map_data, properties, lat='LATITUDE', lon='LONGITUDE'):
    
    geojson = {'type':'FeatureCollection', 'features':[]}
    
    for _, row in map_data.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        
        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop] 
            
        geojson['features'].append(feature)
    
    return geojson

In [33]:
useful_columns = ['LATITUDE', 'LONGITUDE', 'date', 'class', 'cause', 'county', 'size']

In [34]:
geojson_dict = df_to_geojson(map_data_df, properties=useful_columns)

In [39]:
geojson_str = json.dumps(geojson_dict, indent=2)

MemoryError:

In [ ]:
output_filename = 'dataset.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset = {};'.format(geojson_str))
    
# how many features did we save to the geojson file?
print('{} geotagged features saved to file'.format(len(geojson_dict['features'])))

In [ ]:
# Reflect the tables
#Base.prepare(engine, reflect=True)

In [ ]:
#fire = Base.classes.Fires

In [ ]:
#session = Session(engine)