In [23]:
import pandas as pd
import numpy as np
import geopandas as gpd
import json

In [24]:
map_data = gpd.read_file('assets/data/map_data.geojson')
map_data.head()

,date,class,cause,county,size,geometry
0,04-02-2014,B,Debris Burning,Madison,1.0,POINT (-82.59318333 35.87323333)
1,03-19-2014,C,Campfire,BENTON,76.0,POINT (-89.3250919 34.8512267)
2,11-04-2014,B,Miscellaneous,NASSAU,1.3,POINT (-73.4863 40.8111)
3,05-26-2014,A,Lightning,Lee,0.1,POINT (-81.5985 26.6588)
4,11-16-2014,A,Miscellaneous,ESSEX,0.1,POINT (-73.85469999999999 44.3538)

In [13]:
with open ('assets/data/map_data.geojson', 'r') as f:
    data = json.load(f)

In [14]:
df = pd.DataFrame(data)
df.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...

In [17]:
data = pd.read_json('assets/data/map_data.geojson')
data.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...